$color-primary: #5c479d;
$color-primary-hover: #7c62b8;
$textcolor-on-primary: white;

$color-secondary: #3d6f47;
$color-secondary-hover: #4c795e;
$textcolor-on-secondary: #ffffff;

$color-reset: #d9534f;
$color-reset-hover: #ad3434;
$textcolor-on-reset: white;

$color-warning: #e8a529;
$color-warning-hover: #d1962f;
$textcolor-on-warning: #333;

$color-labelhint: #808080;
